@media(max-widht:991px) {
    .menu-bg {
        background-color: #323335;
    }
    .menu-btn {
        background-color: #fff;
    }
    .nav-link:nth-child(2) {
        margin: 0 !important;
    }
}